# ignorer le dossier build
build

# ignorer le fichier DS_Store
.DS_Store

# ignorer le dossier .vscode
.vscode

#ignorer le dossier .cache
.cache

#ignorer les maillages
*.mesh

#ignoreer le git ignorer
.gitignore
