# ignorer le dossier build
build

# ignorer le fichier DS_Store
.DS_Store

# ignorer le dossier .vscode
.vscode

#ignorer le dossier .cache
.cache

#ignorer les maillages et les solutions
*.mesh
*.sol

#ignorer le git ignorer
.gitignore